body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2.5em;
}

p {
    margin: 0em;
    padding: 0em;
}

.sec1 {
    display: flex;
    flex-direction: column;
    padding: 0em 10em;
    padding-bottom: 5em;
    background-color: #1f2937;
    font-size: 1.125em;
    color: #e5e7eb;
    margin-bottom: 2em;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
    padding: 1em 10em;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 10em;
    gap: 3em;
}

.conleft {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
}

.conleft > *{
    margin: 0;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subhero {
    font-size: 1.125em;
    color: #e5e7eb;
}

.conright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgba(255, 255, 255, .2);
    padding: 4em;
}

.signup {
    max-width: 8em;
    padding: .5em 1em;
    margin-top: 1em;
    background-color: #3882f6;
    color: #f9faf8;
    border-style: none;
    border-radius: 10px;
}

.sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5em;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.cardcontainer {
    display: flex;
    gap: 2em;
    font-size: 18px;
    font-weight: normal;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 15em;
    row-gap: 1em;
}

.image {
    border: 2px solid #3882f6;
    height: 10em;
    width: 10em;
}

.sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding: 2.5em 13.25em;
    background-color: #e5e7eb;
}

.person {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
}

.sec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em 12em;
}

.cta {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    border-radius: 10px;
}

.call :nth-child(1){
    font-size: 24px;
    font-weight: bold;
}

.call :nth-child(2){
    font-size: 18px;
    font-weight: lighter;
}

.call {
    padding-left: 5em;
}

.action {
    max-width: 8em;
    padding: .5em 2em;
    margin-top: 1em;
    margin-right: 5em;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9f9f9;
    border-radius: 10px;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #f9faf8;
    background-color: #1f2937;
    padding-top: 2em;
    padding-bottom: 2em;
}

/* mobile optimization starts here */

@media (max-width: 70em) {
    
    body > *{
        margin: 0em;
        padding: 0em;
    }

    .sec1 {
        display: flex;
        flex-direction: column;
        margin: 1em 0em;
        padding: 0em;
    }

    .header {
        display: flex;
        flex-direction: column;
        margin: 1em 0em;
        padding: 0em 1em;
        justify-content: center;
        align-items: center;
    }
    .logo {
        margin-bottom: 1em;
        padding: 0em;
        font-size: 18px;
    }

    ul {
        margin: 0em;
        padding: 0em;
        width: 100%;
        font-size: 16px;
        justify-content: center;
    }

    .container {
        margin: 0em;
        padding: 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .conleft {
        margin: 0em 1em;
        padding: 0em;
        font-size: 16px;
        margin-bottom: 0em;
        width: 90%;
        justify-content: center;
    }

    .conright {
        margin-bottom: 2em;
        padding: 2em;
    }

    .hero {font-size: 24px;}

    .sec2 {
        display: flex;
        flex-direction: column;
        margin: 0em 0em;
        padding: 0em;
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 24px;
    }

    .cardcontainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
        row-gap: 1em;
    }

    .sec3 {
        display: flex;
        flex-direction: column;
        margin: 1em 0em;
        padding: 0em;
        justify-content: center;
        text-align: center;
    }
}
/* change font sizing,  */